
img {
    width: 50%;
    align-items: flex-start;
}
@media (min-width: 480px) {
    img {
        width: 100%;
    }
}
body {
    font-family: 'Crimson Text', serif
}
h2, .h2 {
    font-size: calc(1.425rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2.5rem;
    }
}

.btn-custom {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
}
.btn-custom:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
.btn-registre {
    color: #000;
    background-color: rgb(204, 204, 204);
    text-transform: uppercase;
}
.btn-registre:hover {
    color: #000;
    background-color: rgba(204, 204, 204, 0.5);
}

/* Menú de navegació */
.navbar-expand-md {
    text-align: left;
    font-size: 1.2rem;
    text-transform: uppercase;
}
nav.bg-custom {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Seccions */
section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Secció presentació */
.boton {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
}
#trans {
    background: rgb(240, 240, 236);
    background-size: cover;
    color: #000;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-family: 'IBM Plex Serif', serif;
    width: auto;    
}
@media (min-width: 768px) {
    .trans {
        padding-top: 2em;
        padding-bottom: 2em;
        width: auto;  
    }
}
#trans2 {
    background: rgb(240, 240, 236);
    background-size: cover;
    color: #000;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-family: 'IBM Plex Serif', serif;
    width: auto; 
}
@media (min-width: 768px) {
    .trans2 {
        padding-top: 1.8em;
        padding-bottom: 1.8em;
        width: auto;
    }
}

.espai {
    height: 5vh;
}
#presentacio {
    background: #000 url('../img/bg-hero1.jpg') no-repeat 50% 70%;
    background-size: cover;
    color: #fff;
}
.presentacio {
    width: auto;
    height: 90vh;
    padding-top: 8em;
    padding-bottom: 4em;
}
@media (min-width: 768px) {
    .presentacio {
        height: 80vh;
    }
}

/* Secció presentació2 */
#presentacio2 {
    background: #000 url('../img/bg-hero4.png') no-repeat 90% 90%;
    background-size: cover;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}
.presentacio2 {
    padding-top: 5em;
    padding-bottom: 5em;
    height: 70vh;
}
@media (min-width: 768px) {
    .presentacio2 {
        padding-top: 2em;
        padding-bottom: 2em;
        height: 40vh;
    }
}
/* Secció presentació3 */
#presentacio3 {
    background: #000 url('../img/bg-hero3.png') no-repeat 70% 50%;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.presentacio3 {
    width: auto;  
    height: auto;      
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.6rem;
}
@media (min-width: 768px) {
    .presentacio3 {
        font-size: 1.4rem;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
.card {
    border: none;
    background-color: transparent;
}

/* Preguntes freqüents */
#FAQs {
    padding: 5em,0,5em,0;
}
.accordion-button {
    font-weight: 700;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-body-color);
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }
  

/* Footer */
footer {
    background-color: #000;
    color: #fff;
}
footer a {
    color: #fff;
    border: 0;
}
footer a:hover {
    color: #ccc;
}
footer .list-inline-item::after {
    content: " · ";
    padding-left: 12px;
}
footer .list-inline-item:last-child::after {
    content:"";
    padding-left: 0;
}

/* Modal de registre */

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/* Pàgines interiors */
#pagines h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    #pagines h1 {
      font-size: 3.5rem;
    }
    #pagines table {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Cookie consent de Osano */
.cc-window.cc-banner {
    padding-top: 1.7em;
    padding-bottom: 1.7em;
}
.cc-link {
    text-decoration: none;
}

#deny {
    background-color: #000;
    color: #fff;
}